body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.wrapper {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainModal {
  min-width: 90%
}

.pre-head {
  color: grey;
  text-align: center
}

.home {
  background-color: #343a40;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-head{
  width: 10em;
  font-size: 72px;
  color: white;
  text-align: center;
}

.home-text {
  color: white;
  text-align: center;
}

.home-btn {
  position: absolute;
  width: 50em;
  text-align: center;
  top: 70%;
  margin-top: 3rem;
}

.home-btn Button {
  font-size: 26px;
  width: 9em
}
